.header{
    margin: 0;
    padding: 0;
    background-color: hotpink;
}
.header ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 45px;
}
.header li{
    display: inline;
    padding: 2px 16px;
    margin-left: 45px;

}
.header li a{
    text-decoration: none;
}
.radha h1{
    background-color: red;
    color: white;
}